.cenario{
    position: absolute;
    top:20%;
    left:25%;
    width: 50%;
    height: 60%;
    z-index: -2;
}

a{
    text-decoration: none;
    color: white;
}
.botoes{
    margin: 18% 0 0 38.5%;
}


.botoes div{
    text-align: center;
    width: 35%;
    border: 8px solid #DABC52;
    background-color: #4F716E;
    color:white;
    display: block;
    margin-top: 2%;
    cursor: pointer;
}

.botoes a{
    font-size: 25px;
}

.dificuldade p{
    font-size: 15px;
}

.dificuldade button{
    height: 30%;
    width: 30%;
    margin-bottom: 2%;
}

.voltarMenu{
    position: absolute;
    top:66.8%;
    left:27%;
    text-align: center;
    width: 5%;
    border: 4px solid #DABC52;
    background-color: #4F716E;
    color:white;
    display: block;
    margin-top: 2%;
    cursor: pointer;
}
